<?xml version="1.0" encoding="utf-8"?>

<!-- https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file -->

<configuration>

  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageRestore>
    <!-- allow NuGet to download missing packages -->
    <add key="enabled" value="true" />
    <!-- automatically check for missing packages during build -->
    <add key="automatic" value="true" />
  </packageRestore>

  <packageManagement>
    <!-- use packages.config for package management -->
    <add key="format" value="0" />
    <!-- hide prompt to select a default package format on first package install -->
    <add key="disabled" value="false" />
  </packageManagement>

</configuration>